* {
  background-color: skyblue;
  color: white;
}

.app {
  width: 600px;
  margin: 0 auto;

  header {
    display: flex;
    justify-content: space-between;
    height: 50px;

    h1 {
      font-size: 24px;
    }

    button {
      border: none;
      border-bottom: 1px solid white;
      font-size: 18px;
      cursor: pointer;
      display: flex;
      align-items: flex-end;
    }
  }
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 19px;
  padding-top: 30px;
}

.item {
  display: flex;
  justify-content: space-between;
  border: 1px solid lightslategray;
  border-radius: 5px;
  padding: 20px;
  gap: 5px;
}

.item input:nth-child(2) {
  display: flex;
  flex: 1;
  border: none;
}

.actions {
  display: flex;

  button {
    border: none;
  }
}
.complete {
}

.actions {
}
